/* src/styles/kaming.module.css */

/* Basis (Global) */
@import "./kaming/base.module.css";

/* Komponen Umum & Layout */
@import "./kaming/common.module.css";
@import "./kaming/modal.module.css";

/* Halaman Spesifik */
@import "./kaming/auth.module.css";
@import "./kaming/adminProductList.module.css";
@import "./kaming/adminProductEdit.module.css";
@import "./kaming/belajar.module.css";
@import "./kaming/publicProduk.module.css";
@import "./kaming/publicProdukDetail.module.css";