:root {
  --color-gray-400: #9ca3af;
  --color-white: #ffffff;
  --color-blue-400: #60a5fa;
  --color-gray-300: #d1d5db;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --color-gray-800: #1f2937;
}

.section {
  padding-top: 5rem;   
  padding-bottom: 5rem; 
  background-color: var(--color-gray-950);
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  
  padding-right: 1rem; 
}

@media (min-width: 1024px) { 
  .container {
    width: 80%; 
  }
}

.header {
  text-align: center;
  margin-bottom: 4rem; 
}

.title {
  font-size: 2.25rem; 
  font-weight: 700;   
  color: var(--color-white);
  margin-bottom: 1rem; 
}

@media (min-width: 768px) { 
  .title {
    font-size: 3rem; 
  }
}

.subtitle {
  color: var(--color-gray-400);
  font-size: 1.125rem; 
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 10% 90%,
    transparent
  );
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
  height: 100%;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 20s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1) - 20s) !important;
  padding: 0 5px;
  box-sizing: border-box;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

.testimonialCard {
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-800);
  border-radius: 1rem; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.quote {
  font-size: 0.95rem;
  font-style: italic;
  color: var(--color-gray-300);
  line-height: 1.6;
  margin: 1.5rem 0 0 0; 
  flex-grow: 1;
}

.userInfo {
  text-align: left;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-gray-800);
}

.userName {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-white);
  margin: 0;
}

.userInstitution {
  font-size: 0.875rem;
  color: var(--color-blue-400);
  margin: 0.25rem 0 0 0;
}